{% load socialaccount %}
{% providers_media_js %}
{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">QuickTutor</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/aboutus/">About Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/accounts/login/">Login</a>
        </li>
      </ul>
    </div>
  </nav>
<!--
<nav class="site-header sticky-top py-1">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2 d-none d-md-inline-block" href="#">Become a Tutor</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Become a Student</a>
    <a class="py-2 d-none d-md-inline-block" href="#">FAQ</a>
  </div>
</nav>
-->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'styling/loginPage.css' %}">

  <html>
    <head>
        <title>Google Registration</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </head>
    <body>
      <div class="center">
        <img src="../../static/styling/images/QTmodel.jpg" class="qt-logo" alt="team img">
        <div class="g-login">
          <div class="text">
            <a href="{% provider_login_url "google" %}">Google Connect</a>
          </div>  
        </div>
      </div>
    </body>
</html>

<footer class="container-footer py-5" style="opacity: 80%">
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 mx-auto my-0">
  <div class="row">
    <div class="col-12 col-md">
      <small class="d-block mb-3 text-muted">&copy; 2020 - QTie5</small>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Contact Us</a></li>
      </ul>
    </div>
</footer>