<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->
<link rel="stylesheet" type="text/css" href="static/styling/homepage2.css">
<link rel="stylesheet" type="text/css" href="static/styling/homepage_style.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link rel='icon' href="../../static/styling/images/QTie5_Logo.png">
<title>Quick Tutor</title>
<!--Add in the if authenticated part here-->
{% if user.is_authenticated %}
<!--
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">QuickTutor</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/aboutus/">About Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/profile">My Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/search">Find A Tutor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/accounts/logout/">Sign out</a>
        </li>
      </ul>
    </div>
</nav>-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">QuickTutor</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto active">
      <li class="nav-item">
        <a class="nav-link" href="/">Home<span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/aboutus/">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile">My Profile</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="{% url 'account_change_password' %}">Change Password</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="/search">Find A Tutor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'account_logout' %}">Sign Out</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/feedback">Feedback</a>
      </li>
    </ul>
  </div>
</nav>
{% else %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">QuickTutor</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto active">
      <li class="nav-item">
        <a class="nav-link" href="/">Home<span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/aboutus/">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'account_login' %}">Sign In/Sign Up</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
      </li> -->
    </ul>
  </div>
</nav>
{% endif %}
<!--
<nav class="site-header sticky-top py-1">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2 d-none d-md-inline-block" href="#">Become a Tutor</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Become a Student</a>
    <a class="py-2 d-none d-md-inline-block" href="#">FAQ</a>
  </div>
</nav>
-->

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal"> Welcome to QuickTutor!</h1>
    <p class="lead font-weight-normal">Are you ready to find your perfect match?</p>
    <a class="btn btn-outline-secondary buttons3" href="/accounts/login/">Click to Login</a>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"><img src="../../static/styling/images/mobileLogo4.jpeg" class="img-responsive" alt="kermitReading"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block" ><img src="../../static/styling/images/mobileLogo4.jpeg" alt="kermitReading"></div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-warning mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">What is QuickTutor?</h2>
      <p class="lead">A tutoring app to help YOU, find the perfect match.</p>
    </div>
    <div class="bg-primary shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
      <a class="btn btn-outline-secondary buttons1" href="/aboutus/">Click to Find Out</a>
    </div>
  </div>
  <div class="bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">Create a Profile</h2>
      <p class="lead">Ready to join?</p>
    </div>
    <div class="bg-warning shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
      <a class="btn btn-outline-secondary buttons2" href="/accounts/login/">Click to Make a Profile</a>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<footer class="container py-5" style="opacity: 80%">
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 mx-auto my-0">
      <div class="row">
        <div class="col-12 col-md">
          <small class="d-block mb-3 text-muted">&copy; 2020 - QTie5</small>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="mailto:rpl8af@virginia.edu">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
