{% load static %}
<title>Quick Tutor</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'styling/profile.css' %}">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link rel='icon' href="../../static/styling/images/QTie5_Logo.png">
<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">QuickTutor</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto active">
            <li class="nav-item">
              <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/aboutus/">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile">My Profile</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="{% url 'account_change_password' %}">Change Password</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="/search">Find A Tutor</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_logout' %}">Sign Out</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/feedback">Feedback</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark">
        <p class="display-5">{{user.first_name}} {{user.last_name}}'s Tutor Profile</p>
        <!--
        <div class="col-md-5 p-lg-5 mx-auto my-5">
          <h1 class="display-4 font-weight-normal"> Welcome to the Login Redirect Page</h1> <br>
          <p class="display-3">Hello {{user.email}}</p>
          <a href= "/accounts/social/connections/">Click here to add Google as a way to login</a> <br><br>
          <p class="btn btn-outline-secondary">Edit Profile</p> <br>
        </div>
        -->
        <div class="information grid-container">
          <!--<h4 class="item1 ">Your Profile:</h4> <br>-->
      
        <div class="container">
          <div class="grid-container">
            <div class="card-deck mb-3 text-center">
              <div class="card mb-4 shadow-sm">
                <div class="card-header">
                  <!--<h4 class="my-0 font-weight-normal">wait what</h4>-->
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title">Info</h1> 
                  <br>
                    <table class="w3-table w3-striped" style="margin-right: 0px; width: 100%">
                      <tr class="w3-light-grey">
                        <td>Name: {{user.first_name}} {{user.last_name}}</td>
                      </tr>
                      <tr>
                        <td>Year: {{user.year}}</td>
                      </tr>
                      <tr>
                        <td>
                          {%if user.rough_payment_per_hour > 0 %} <!--Evaluates to true if there are any items in the array-->
                          Hourly Rate: ${{user.rough_payment_per_hour}} per hour<br>
                          {% else %}
                          No Hourly Rate Specified <br>
                          {%endif%}
                        </td>
                      </tr>
                      <tr>
                        <td>
                          {%if user.rough_willing_to_pay_per_hour > 0 %} <!--Evaluates to true if there are any items in the array-->
                          Willing to Pay per Hour: ${{user.rough_willing_to_pay_per_hour}} per hour<br>
                          {% else %}
                          No Amount Willing to Pay Specified <br>
                          {%endif%}
                        </td>
                      </tr>
                    </table>
                    <br>
                </div>
              </div>
            </div>
            <div class="grid-container">
            <div class="card mb-4 shadow-sm">
              <div class="card-header">
                <!--<h4 class="my-0 font-weight-normal">Pro</h4>-->
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">Classes Can Tutor In</h1>
                <table style="margin-right: 0px; width: 100%">
                {%if classes_can_tutor_in %}
                <tr>
                    <th>Class Name</th>
                    <th>Class Code</th>
                </tr>
                {%for class in classes_can_tutor_in%}
                  <tr>
                      <td>{{class.class_id.class_name}}</td>
                      <td>{{class.class_id.dept}}{{class.class_id.course_num}}</td>
                </tr>
                  {%endfor%}
                  {% else %}
                    None <br>
                  {%endif%}
                </table>
                <br>
              </div>
            </div>
          </div>
          <div class="grid-container">
            <div class="card mb-4 shadow-sm">
              <div class="card-header">
                <!--<h4 class="my-0 font-weight-normal">Enterprise</h4>-->
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">Reviews</h1>
                {% if average_rating %}
                <h5>{{user.first_name}} {{user.last_name}} currently has an average rating of {{average_rating}} based on {{ratings_received}} reviews.</h5>
                {%endif%}
                <table class="w3-table w3-striped" style="margin-right: 0px; width: 100%">
                  <h4>Reviews Received:</h4>
                  {%if reviews_received %}
                  <tr>
                    <th>Author</th>
                    <th>Subject</th>
                    <th>Rating</th>
                    <th>Description</th>
                    <th>Type of Review</th>
                    <th>Time of Review</th>
                  </tr>
                  {%for review in reviews_received%}
                  <tr>
                    <td>{{review.Author.first_name}} {{review.Author.last_name}}</td>
                    <td> {{review.subject_in_regards_to.class_name}}</td>
                    <td>{{review.rating}}</td>
                    <td> {{review.description}}</td>
                    {% if review.type_of_review == 'T' %}
                    <td>Tutor</td>
                    {% else %}
                    <td>Student</td>
                    {%endif%}
                    <td>{{review.time_of_review}}</td>
                  </tr>
                  

                  {%endfor%}
                  {% else %}
                    <p>No reviews received </p>
                  {%endif%}
                </table>
                <br>
            <a href = {% url "specific_session_creation" user.id %}><button type="button" class="btn btn-lg btn-block btn-primary buttoons">Propose a Session with this Tutor</button></a>
          </div>
        </div>
          </div>
</div>
</div>
</div> 

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<footer class="container py-5" style="opacity: 80%">
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 mx-auto my-0">
  <div class="row">
    <div class="col-12 col-md">
      <small class="d-block mb-3 text-muted">&copy; 2020 - QTie5</small>
        <a class="text-muted" href="#">Contact Us</a>
    </div>
  </div>
</footer>

