{% load static %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'styling/profile.css' %}">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">QuickTutor</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/aboutus/">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile">My Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_email' %}">Change E-mail</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_change_password' %}">Change Password</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_logout' %}">Sign Out</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark">
        <p class="display-5">Hello, {{user.first_name}}. Welcome to Your Profile</p>
        <!--
        <div class="col-md-5 p-lg-5 mx-auto my-5">
          <h1 class="display-4 font-weight-normal"> Welcome to the Login Redirect Page</h1> <br>
          <p class="display-3">Hello {{user.email}}</p>
          <a href= "/accounts/social/connections/">Click here to add Google as a way to login</a> <br><br>
          <p class="btn btn-outline-secondary">Edit Profile</p> <br>
        </div>
        -->
        <div class="information grid-container">
          <!--<h4 class="item1 ">Your Profile:</h4> <br>-->
      
        <div class="container">
          <div class="card-deck mb-3 text-center">
            <div class="card mb-4 shadow-sm">
              <div class="card-header">
                <!--<h4 class="my-0 font-weight-normal">wait what</h4>-->
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">Your Info</h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Name: {{user.first_name}} {{user.last_name}}</li>
                  <li>Year: {{user.year}}</li>
                  <li>
                    {%if user.rough_payment_per_hour > 0 %} <!--Evaluates to true if there are any items in the array-->
                    Hourly Rate: ${{user.rough_payment_per_hour}} per hour<br>
                    {% else %}
                    No Hourly Rate Specified <br>
                    {%endif%}
                  </li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary">Edit Your Info</button>
              </div>
            </div>
            <div class="card mb-4 shadow-sm">
              <div class="card-header">
                <!--<h4 class="my-0 font-weight-normal">Pro</h4>-->
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">Your Classes</h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <h4>Classes Needed Help In:</h4>
                  {% if classes_need_help_in %}
                    {%for class in classes_need_help_in%}
                    <li>Class Name: {{class.class_id.class_name}}</li>
                    <li>Class Code: {{class.class_id.dept}}{{class.class_id.course_num}}</li>
                    <br>
                    {%endfor%}
                  {% else %}
                    None
                  {% endif %}
                <br>
                <h4>Classes Can Tutor In: </h4> 
                {%if classes_can_tutor_in %}
                {%for class in classes_can_tutor_in%}
                  <li>Class Name: {{class.class_id.class_name}}</li>
                  <li>Class Code: {{class.class_id.dept}}{{class.class_id.course_num}}</li>
                  <br>
                  {%endfor%}
                  {% else %}
                    None <br>
                  {%endif%}
                  <br>
                <a href = "add-class-needs-help/"><button type="button" class="btn btn-lg btn-block btn-primary">Add A Class You Need Help In</button></a>
                <br>
                <a href = "add-tutorable-class/"><button type="button" class="btn btn-lg btn-block btn-primary">Add A Class You Can Tutor In</button></a>
              </div>
            </div>
            <div class="card mb-4 shadow-sm">
              <div class="card-header">
                <!--<h4 class="my-0 font-weight-normal">Enterprise</h4>-->
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">Your History</h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <h4>Tutor Sessions:</h4>  <br> {%if tutor_sessions %}
                  {%for session in tutor_sessions%}
                  <li>Student: {{session.student.first_name}} {{session.student.last_name}}</li> 
                  <li>Subject: {{session.subject_in_regards_to.course_name}}</li>
                  <li>Start Date/Time: {{session.start_date_and_time}}</li>
                  <br>
                  {%endfor%}
                  {% else %}
                    No sessions as a tutor <br>
                  {%endif%}
                  <br> 
                  <h4>Student Sessions:</h4> <br>
                  {%if student_sessions %}
                    {%for session in student_sessions%}
                      <li>Tutor: {{session.tutor.first_name}} {{session.tutor.last_name}}</li>
                      <li>Subject: {{session.subject_in_regards_to.class_name}}</li>
                      <li>Start Date/Time: {{session.start_date_and_time}}</li>
                      <br>
                    {%endfor%}
                  {% else %}
                    No sessions as a student <br>
                  {%endif%}
                </ul>
                <a href= "view-sessions/"><button type="button" class="btn btn-lg btn-block btn-primary">View Your Session History</button></a>
              </div>
            </div>
            
            <div class="card mb-4 shadow-sm">
              <div class="card-header">
                <!--<h4 class="my-0 font-weight-normal">Enterprise</h4>-->
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">Your Reviews</h1>
                {% if average_rating %}
                <h5>{{user.first_name}} {{user.last_name}} currently has an average rating of {{average_rating}} based on {{ratings_received}} reviews.</h5>
                {%endif%}
                <ul class="list-unstyled mt-3 mb-4">
                  <h4>Reviews Received:</h4>  <br> 
                  {%if reviews_received %}
                  {%for review in reviews_received%}
                  <li>Author: {{review.Author.first_name}} {{review.Author.last_name}}</li> 
                  <li>Subject: {{review.subject_in_regards_to.class_name}}</li>
                  <li>Rating: {{review.rating}}</li>
                  <li>Type of Review: </li>
                  <li>Time of Review: {{review.time_of_review}}</li>
                  {% if review.type_of_review == 'T' %}
                  <li>Tutor</li>
                  {% else %}
                  <li>Student</li>
                  {%endif%}
                  <br>
                  {%endfor%}
                  {% else %}
                    No reviews received <br>
                  {%endif%}
                  <br>
                  <h4>Reviews Written:</h4> <br> {%if reviews_written %}
                  {%for review in reviews_written%}
                  <li>Recipient: {{review.Recipient.first_name}} {{review.Recipient.last_name}}</li>
                  <li>Subject: {{review.subject_in_regards_to.class_name}}</li>
                  <li>Rating: {{review.rating}}</li>
                  {% if review.type_of_review == 'T' %}
                  <li>Type of Review: Tutor</li>
                  {% else %}
                  <li>Type of Review: Student</li>
                  {%endif%}
                  <li>Time of Review: {{review.time_of_review}}</li>
                  <br>
                  {%endfor%}
                  {% else %}
                    No reviews Written <br>
                  {%endif%}
                </ul>
                <a href="view-reviews/"><button type="button" class="btn btn-lg btn-block btn-primary">View Your Review History</button></a>
                <br>
                <a href= "add-review/"><button type="button" class="btn btn-lg btn-block btn-primary">Write A Review</button></a>
              </div>
            </div>

          </div>
          <!--
          <h5 class="item2">Name: {{user.first_name}} {{user.last_name}} <br>
            Year: {{user.year}}<br>
            {%if user.rough_payment_per_hour > 0 %} 
          -->
            <!--Evaluates to true if there are any items in the array-->
          <!--
              Hourly Rate: ${{user.rough_payment_per_hour}} per hour<br>
              {% else %}
              No Hourly Rate Specified <br>
              {%endif%}
          -->
              <!-- Classes need help in display -->
          <!--
              Classes Needed Help In: <br>
              {%if classes_need_help_in %}
              <table>
                <thead>
                <tr>
                  <th>Class Name</th>
                  <th>Class Code</th>
                </tr>
                </thead>
                <tbody>
                {%for class in classes_need_help_in%}
                  <tr>
                    <td>  {{class.class_id.class_name}}</td>
                    <td>  {{class.class_id.dept}}{{class.class_id.course_num}}</td>
                  </tr>
                {%endfor%}
              </tbody>
              </table>
               
              {% else %}
                None <br>
              {%endif%}
          -->
              <!-- Classes can tutor in display -->
          <!--
            Classes Can Tutor In:  <br>
            {%if classes_can_tutor_in %}
            <table>
              <thead>
              <tr>
                <th>Class Name</th>
                <th>Class Code</th>
              </tr>
              </thead>
              <tbody>
              {%for class in classes_can_tutor_in%}
                <tr>
                  <td>  {{class.class_id.class_name}}</td>
                  <td>  {{class.class_id.dept}}{{class.class_id.course_num}}</td>
                </tr>
              {%endfor%}
            </tbody>
            </table>
             
            {% else %}
              None <br>
            {%endif%}
          -->

            <!-- Tutor Sessions Disply -->
          <!--
            Tutor Sessions:  <br>
            {%if tutor_sessions %}
            <table>
              <thead>
              <tr>
                <th>Student</th>
                <th>Subject</th>
                <th>Start Date/Time</th>
              </tr>
              </thead>
              <tbody>
              {%for session in tutor_sessions%}
                <tr>
                  <td>  {{session.student.first_name}} {{session.student.last_name}}</td>
                  <td>  {{session.subject_in_regards_to.course_name}}</td>
                  <td>  {{session.start_date_and_time}}</td>
                </tr>
              {%endfor%}
            </tbody>
            </table>
             
            {% else %}
              No sessions as a tutor <br>
            {%endif%}
          -->
            <!-- Student Sessions Disply -->
          <!--
            Student Sessions:  <br>
            {%if student_sessions %}
            <table>
              <thead>
              <tr>
                <th>Tutor</th>
                <th>Subject</th>
                <th>Start Date/Time</th>
              </tr>
              </thead>
              <tbody>
              {%for session in student_sessions%}
                <tr>
                  <td>  {{session.tutor.first_name}} {{session.tutor.last_name}}</td>
                  <td>  {{session.subject_in_regards_to.class_name}}</td>
                  <td>  {{session.start_date_and_time}}</td>
                </tr>
              {%endfor%}
            </tbody>
            </table>
             
            {% else %}
              No sessions as a student <br>
            {%endif%}
          -->

             <!-- Reviews Received Disply -->
          <!--
             Reviews Received:  <br>
             {%if reviews_received %}
             <table>
               <thead>
               <tr>
                 <th>Author</th>
                 <th>Subject</th>
                 <th>Rating</th>
                 <th>Type of Review</th>
                 <th>Time of Review</th>
               </tr>
               </thead>
               <tbody>
               {%for review in reviews_received%}
                 <tr>
                   <td>  {{review.Author.first_name}} {{review.Author.last_name}}</td>
                   <td>  {{review.subject_in_regards_to.class_name}}</td>
                   <td>  {{review.rating}}</td>
                    {% if review.type_of_review == 'T' %}
                    <td> Tutor</td>
                    {% else %}
                    <td> Student</td>
                    {%endif%}
                   <td>  {{review.time_of_review}}</td>
                 </tr>
               {%endfor%}
             </tbody>
             </table>
              
             {% else %}
               No reviews received <br>
             {%endif%}
            -->
            <!-- Reviews Written Disply -->
            <!--
             Reviews Written:  <br>
             {%if reviews_written %}
             <table>
               <thead>
               <tr>
                 <th>Recipient</th>
                 <th>Subject</th>
                 <th>Rating</th>
                 <th>Type of Review</th>
                 <th>Time of Review</th>
               </tr>
               </thead>
               <tbody>
               {%for review in reviews_written%}
                 <tr>
                   <td>  {{review.Recipient.first_name}} {{review.Recipient.last_name}}</td>
                   <td>  {{review.subject_in_regards_to.class_name}}</td>
                   <td>  {{review.rating}}</td>
                   {% if review.type_of_review == 'T' %}
                    <td> Tutor</td>
                  {% else %}
                    <td> Student</td>
                    {%endif%}
                   <td>  {{review.time_of_review}}</td>
                 </tr>
               {%endfor%}
             </tbody>
             </table>
              
             {% else %}
               No reviews Written <br>
             {%endif%}
             </h5>
            -->
          </div>
        <!--<div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block" ></div>
        -->
      </div>
</div> 

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<footer class="container py-5">
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 mx-auto my-0">
  <div class="row">
    <div class="col-12 col-md">
      <small class="d-block mb-3 text-muted">&copy; 2020 - QTie5</small>
        <a class="text-muted" href="#">Contact Us</a>
    </div>
  </div>
</footer>

