{% load static %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'styling/profile.css' %}">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">QuickTutor</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/aboutus/">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile">My Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_email' %}">Change E-mail</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_change_password' %}">Change Password</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_logout' %}">Sign Out</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
          <h1 class="display-4 font-weight-normal"> Welcome to the Login Redirect Page</h1> <br>
          <p class="display-3">Hello {{user.email}}</p>
          <a href= "/accounts/social/connections/">Click here to add Google as a way to login</a> <br><br>
          <p class="btn btn-outline-secondary">Edit Profile</p> <br>
          <!--<p class="btn btn-outline-secondary">Some button</p> <br>-->
        </div>
        <div class="information grid-container">
          <h4 class="item1 ">Your Profile:</h4> <br>
          <h5 class="item2">Name: {{user.first_name}} {{user.last_name}} <br>
            Year: {{user.year}}<br>
            {%if user.rough_payment_per_hour > 0 %} <!--Evaluates to true if there are any items in the array-->
              Hourly Rate: {{user.rough_payment_per_hour}} <br>
              {% else %}
              No Hourly Rate Specified <br>
              {%endif%}

              <!-- Classes need help in display -->
              
              Classes Needed Help In: <br>
              {%if classes_need_help_in %}
              <table>
                <thead>
                <tr>
                  <th>Class Name</th>
                </tr>
                </thead>
                <tbody>
                {%for class in classes_need_help_in%}
                  <tr>
                    <td>  {{class.class_id}}</td>
                  </tr>
                {%endfor%}
              </tbody>
              </table>
               
              {% else %}
                None <br>
              {%endif%}

              <!-- Classes can tutor in display -->
            Classes Can Tutor In:  <br>
            {%if classes_can_tutor_in %}
            <table>
              <thead>
              <tr>
                <th>Class Name</th>
              </tr>
              </thead>
              <tbody>
              {%for class in classes_can_tutor_in%}
                <tr>
                  <td>  {{class.class_id}}</td>
                </tr>
              {%endfor%}
            </tbody>
            </table>
             
            {% else %}
              None <br>
            {%endif%}

            <!-- Tutor Sessions Disply -->
            Tutor Sessions: {{tutor_sessions}} <br>
            Classes Can Tutor In:  <br>
            {%if tutor_sessions %}
            <table>
              <thead>
              <tr>
                <th>Class Name</th>
              </tr>
              </thead>
              <tbody>
              {%for class in classes_can_tutor_in%}
                <tr>
                  <td>  {{class.class_id}}</td>
                </tr>
              {%endfor%}
            </tbody>
            </table>
             
            {% else %}
              No sessions as a tutor <br>
            {%endif%}

            Student Sessions: {{student_sessions}} <br>
            Reviews Received: {{reviews_received}} <br>
            Reviews Written: {{reviews_written}} <br>
          </h5>
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block" ></div>
      </div>
</div> 

<footer class="container py-5">
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 mx-auto my-0">
  <div class="row">
    <div class="col-12 col-md">
      <small class="d-block mb-3 text-muted">&copy; 2020 - QTie5</small>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Contact Us</a></li>
      </ul>
    </div>
</footer>

