{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'styling/search.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<h3>Available Tutors</h3>
<ul>
  {% if classes_need_help_in %}
    {%for hclass in classes_need_help_in%}
    <p></p>
    <h4>
    Class Name: {{hclass.class_id.class_name}}
    Class Code: {{hclass.class_id.dept}}{{hclass.class_id.course_num}}
    </h4>
    <p></p>
      {% if tutors_and_classes %}
      <table>
      <tr>
        <th>Tutor Name</th>
        <!-- <th>Class Code</th> -->
        <th>Former TA</th>
        <th>Tutor Experience</th>
        <th>View Profile</th>
      </tr>
        {%for tclass in tutors_and_classes%}
          {% if tclass.class_id == hclass.class_id%}
            {% if tclass.user != request.user %}
            <tr>
              <td>{{tclass.user.first_name}} {{tclass.user.last_name}}</td>
              <!-- <td>{{tclass.class_id.dept}}{{tclass.class_id.course_num}}</td> -->
              <td>{{tclass.Former_TA}}</td>
              <td>{{tclass.experience}}</td>
              <td><a href={% url "other_profile" tclass.user.id %}><button class="buttoons">Click to View Profile</button></a></td>
            </tr>

            <p></p>
            {%endif%}
          {%endif%}
        {%endfor%}
      </table>
      {% else %}
        <h5>No Tutors were found</h5>
      {% endif %}
  
    </td></tr>
    {%endfor%}
  {% else %}
  <h5>You have not identified classes with which you need help</h5>
  {% endif %}
<!-- 
  {% if tutors_and_classes %}
    <h4>List of tutors:</h4>
    {%for tclass in tutors_and_classes%}
    <tr><td>Tutor Name: {{tclass.user.first_name}} {{tclass.user.last_name}}</td></tr>
    <tr><td>Class Code: {{tclass.class_id.dept}}{{tclass.class_id.course_num}}</td></tr>
    {%endfor%}
  {% else %}
    <h4>No Tutors were found</h4>
  {% endif %} -->
  
</ul>

{% endblock %}

