<!DOCTYPE html>
<html>
<head>
         <title>Sessions</title>
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">QuickTutor</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/aboutus/">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile">My Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_email' %}">Change E-mail</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_change_password' %}">Change Password</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/search">Find A Tutor</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_logout' %}">Sign Out</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/feedback">Feedback</a>
            </li>
          </ul>
        </div>
      </nav>
      
<body>
  <h3>Active Sessions</h3>
      <!--Should include option to end session which will take to page that says the cost?-->
  <h3>Session Requests</h3>
      <!-- If the user has not accepted the session but the other person has -->
      {% if pending_sessions_requested_student %}
      <table >
        <tr>
            <th>Tutor</th>
            <th>Subject</th>
            <th>Start Date/Time</th>
            <th>End Date/Time</th>
            <th>State</th>
            <th>EDIT</th>
            <th>DELETE</th>
        </tr>
        {%for session in pending_sessions_requested_student%}
        <tr>
            <td>{{session.student.first_name}} {{session.student.last_name}}</td>
            <td>{{session.subject_in_regards_to.class_name}}</td>
            <td>{{session.start_date_and_time}}</td>
            <td>{{session.end_date_and_time}} </td>
            <td>PENDING</td>
            <td><a href = "/profile"><button>EDIT</button></a></td>
            <td>
              
            </td>
        </tr></button></a>
        {%endfor%}
      </table>
      {% else %}
      No Sessions Requested as Student <br>
      {%endif%}
      <br>
  <h3>Sessions You have Received Requests For</h3>
      <!-- If the user has accepted the session but the other person has not -->
      <a href = "new-session/"><button>Propose a New Sessions</button></a>
</body>
