{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'styling/login.css' %}">
<h1 class="text-center">{% trans "Sign In" %}</h1>

{% get_providers as socialaccount_providers %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <div class="form-gap"></div>
  <div class="container">
    <div class="text-center">
      <h3><i class="fa fa-user-circle fa-5x"></i></h3>
          {% if socialaccount_providers %}
          <h4 class="text-center">
            <p>{% blocktrans with site.name as site_name %}
            Please sign in with one
            of your existing third party accounts. 
          </h4>
          <h6>
            Don't have an account? Click here to <a href="{{ signup_url }}">Sign Up</a> <br>
            <!--{{ site_name }} account:{% endblocktrans %}-->
          </p>
          </h6>
  <div class="socialaccount_ballot">
    Click here to sign up with: {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  <div class="login-or">{% trans 'or' %}</div>
</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
  <a href="{{ signup_url }}">Sign up</a> 
  first.{% endblocktrans %}
</p>

{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit" class="btn btn-info btn-lg">{% trans "Sign In" %}</button>
  <br>
  <br>
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
</form>
</div>

{% endblock %}