{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}


    <h1 class="text-center">{% trans "Change Password" %}</h1>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <div class="form-gap"></div>
   <div class="container">
        <div class="text-center">
            <h3><i class="fa fa-user-secret fa-4x"></i></h3>
            <h2 class="text-center">Change Password</h2>
            <p>You can change your password here.</p>
            <div class="panel-body"></div>

                <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
                </form>
        </div>
    </div>
</div>
{% endblock %}
